extends ../app.pug

block content
  .cointainer
    br
    each query in queries
      .row
      .col-sm-6.offset-sm-2
        .card.card-block
            a(href="/queries/" + query.id)
            h3= query.question
            p(align='right')='- '
              em= query.signature
